* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    /* padding: 10px; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    background-color:black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#menu {
    display: flex;
}

#menu svg {
    margin-left: 20px;
    fill: white;
    cursor: pointer;
}

#search {
    display: flex;
    margin-left: 30px;
}

#search-input {
    width: 520px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
    border: 1px solid #e0e0e052;
    font-size: 18px;
    background-color: transparent;
}

#search-icon {
    background-color: #71717161;
    height: 40px;
    width: 60px;
    padding: 8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #e0e0e052;
    fill: #fff;
    cursor: pointer;
}

#mic-icon {
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 16px;
    fill: #fff;
    cursor: pointer;
}

#profile {
    display: flex;
}

#profile-icon {
    margin-left: 18px;
}

#profile button {
    background-color: #71717180;
    display: flex;
    align-items: center;
    width: 90px;
    height: 40px;
    padding: 0 5px;
    border-radius: 20px;
    margin-left: 5px;
    fill: #fff;
    color: #fff;
    border: none;
    cursor: pointer;
}


.notifications-icon {

    height: 36px;
    width: 36px;
    padding: 8px;
    fill: #fff;
    cursor: pointer;
}

#profile img {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

main {
    display: flex;
    margin-top: 56px;              
    height: calc(100vh - 56px);   
  }

.side-bar {
    width: 240px;
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;    
    flex-shrink: 0;
}

#home-icons {
    padding: 12px;
}

.side {
    display: flex;
    align-items: center;
    height: 40px;
    width: 204px;
    padding: 0 24px 0 12px;
    border-radius: 10px;
    font-size: 0.875rem;
    font-weight: 400;
    fill: #fff;
    color: #fff;
    cursor: pointer;
    gap: 24px;
}

.sidebar-divider {
    height: 1px;
    background: rgba(255, 255, 255, 0.264);
    border: none;
    margin: 12px 0;
    width: 240px;
  }

#home {
    background-color: #71717180;


}

.side:hover {
    background-color: #71717180;
}

main {
    display: flex;
}

.videos {
    width: calc(100vw - 240px);
    height: 100%;
}

.videos-nav {
    background-color: black;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 24px;

}

.videos-nav button {
    height: 32px;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 0.875rem;
    white-space: nowrap;
    flex-shrink: 0;
    color: #fff;
    background-color: #71717180;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

.videos-nav::-webkit-scrollbar {
    display: none;
}

.videos-nav .all {
    background-color: #fff;
    color: black;
}

.videos-main {
    height: calc(100% - 56px);
    background-color: white;
    padding: 0 24px;
    flex: 1;               
    overflow-y: auto;  
}

#subscriptions-section,
#home-icons,
#explore-section,
#more-section,
#settings{
    padding: 12px;
}

.sub,
.you,
.explore,
.more,
.settings{
    display: flex;
    align-items: center;
    height: 40px;
    width: 204px;
    padding: 0 24px 0 12px;
    border-radius: 10px;
    font-size: 0.875rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    gap: 24px;
}
.sub:hover,
.you:hover,
.explore:hover,
.more:hover,
settings:hover {
    background-color: #71717180;
}

.sub img{
    width: 24px;
    height: 24px;
}

.sub svg,
.you svg,
.explore svg,
.more svg,
.settings svg{
    fill: #fff;;
}
