* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    /* overflow: hidden;  */
}

.wrapper{
/* padding: 10px; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding:0 16px;
    background-color:black;
    
}

#menu{
display: flex;
}

#menu svg{
   margin-left: 20px;
   fill: white;
}

#search{
    display: flex;
    margin-left: 30px;
}

#search-input{          
    width: 520px;
    height: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    border: 1px solid #e0e0e052;
    font-size: 18px;
    background-color: transparent;
}

#search-icon{
    background-color: #71717161;
    height: 40px;
    width: 60px;
    padding: 8px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #e0e0e052;
    fill: #fff;
}

#mic-icon{
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 16px;
    fill: #fff;
}

#profile{
    display: flex;
}

#profile-icon{
    margin-left: 18px;
}

#profile img{
    height: 32px;
    width: 32px;
}

#profile button{
    background-color: #71717180;
    display: flex;
    align-items: center;
    width: 90px;
    height: 40px;
    padding: 0 5px;
    border-radius: 20px;
    margin-left: 5px;
    fill: #fff;
    color: #fff;
    border: none;
}


.notifications-icon{
    
    height: 36px;
    width: 36px;
    padding: 8px;
    fill: #fff;
}

#profile img{
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.side-bar{
    width: 100px;
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

#side{
display: flex;
flex-direction: column;
align-items: center;
height: 74px;
width: 64px;
padding: 16px 0;
border-radius: 10px;
font-size: 10px;
font-weight:400 ;
fill: #fff;
color: #fff;
cursor: pointer;
}

#side:hover{
    background-color: #71717180;
}

main{display: flex;
}

.videos{
width: calc(100vw - 100px);
}

.videos-nav{
    background-color: black;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;

}

.videos-nav button{
    height: 32px;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 0.875rem;
    white-space: nowrap;  
    flex-shrink: 0; 
    color: #fff;
    background-color: #71717180;
    border: none;
    border-radius: 8px;
    
}
.videos-nav::-webkit-scrollbar {
    display: none;
  }

  .videos-nav .all {
    background-color:#fff ;
    color: black;
  }

  .videos-main{
    height: calc(100vh - 56px);
    background-color: aqua;
  }
